<table class="table table-hover table-condensed">
  <tr>
    <th>
      Event
    </th>
    <th>
      Starts
    </th>
    <th>
      Venue
    </th>
    <th>
      Address
    </th>
    <th>
      Map
    </th>
    <th></th>
  </tr>
  <%= render collection: @events, partial: 'event' %>
</table>